@font-face {
  font-family: "Rodona-Regular";
  src: url("Assets/Rodona-Regular.ttf");
}

:root {
  --primary: #4f46e5;
  --secondary: #6366f1;
  --bg: #f9fafb;
  --text: #111827;
  --muted: #6b7280;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rodona-Regular", sans-serif;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

.container {
  width: 1200px;
  margin: auto;
}

.navbar {
  background: var(--white);
  padding: 20px 0;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary);
}

.nav-links a {
  text-decoration: none;
  color: var(--text);
  margin: 0 15px;
  font-weight: 500;
}

.nav-btn {
  padding: 10px 22px;
  border: none;
  background: var(--primary);
  color: var(--white);
  border-radius: 6px;
  cursor: pointer;
}
footer {
    border-top: 1px solid #e2e8f0;
    background: #f8fafc;
    text-align: center;
    padding: 16px;
    font-size: 14px;
    color: #64748b
}
