        .team-container {
            width: 90%;
            margin: 40px auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            min-height: 100vh;
                padding: 30px 150px;
        }

        .team-card {
                display: flex;
    flex-direction: column;
    justify-content: space-between;
            background-color: white;
            width: 32%;
            margin-bottom: 30px;
            border-radius: 6px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }

        .team-card img {
            width: 100%;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }

        .team-content {
            padding: 15px;
        }

        .team-content h2 {
            margin-top: 0;
            color: var(--primary);
        }

        .role {
            font-size: 14px;
            color: gray;
        }

        .bio {
            font-size: 15px;
            margin: 10px 0;
        }

        .team-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .contact {
            font-weight: bold;
            color: var(--primary);
        }

        button, .team-footer a {
            background-color: var(--primary);
            color: white;
            border: none;
            padding: 7px 12px;
            cursor: pointer;
            border-radius: 4px;
            transition: all .1s;
            text-decoration: none;
        }

        button:hover, .team-footer a:hover {
            background-color: #2e259f;
        }

        @media (max-width: 900px) {
            .team-card {
                width: 48%;
            }
        }

        @media (max-width: 600px) {
            .team-card {
                width: 100%;
            }
        }
